<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Soaring predictor - by Eduardo de Angelis</h2>
  <p>Forecast for the next 48h</p>
  <table class="table table-bordered table-striped">
    <TR>
      <th>Date</th>
      <th>Pilot expertise</th>
      <th>Maximum altitude</th>
      <th>Breaking cilinder I</th>
      <th>XC</th>
    <TR>
    {% for doc in docs %}
       <TD class="c1">{{doc}}</TD>
       <TD class="c2">{{doc}}</TD>
       <TD class="c3">{{doc}}</TD>
       <TD class="c4">{{doc}}</TD>
       <TD class="c5">{{doc}}</TD>
    </TR>
    {% endfor %}
  </table>
</div>

</body>
</html>
